.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px var(--horizontal-space);
  margin-bottom: -10px;
}

.screen-header__title {
  font-size: 28px;
  font-weight: 600;
}

.screen-header__header_icons span {
  margin-left: 25px;
  position: relative;
}

.screen-header__dots {
  background-color: tomato;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  display: flex;
  position: absolute;
  bottom: 28px;
  left: 70px;
}
